body {
  font-family: roboto;
}

.top {
  background-color: black;
}


.navbar-nav a {
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
}

.dropdown-menu a {
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
}

.nav-brand {
  padding: 15px;

}

.nav-item {
  padding: 5px 20px 5px 0;
  
}

.image{
  margin-top:100px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discuss_btn{
  margin-bottom: 10px;
  width:300px;
  height:50px;
  background-color: #ff6700;
  border:none;
  border-radius: 50px;
  color:#ffd7b5;
  font-family: 'Montserrat';
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.btn{
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.lower{
  display: flex;
  align-items: center;
  justify-content: center;   
}