<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CHANGE PASSWORD</h1>
    <form method="post" action="/changepassword">
        New Password<input type="password" placeholder="password" name="password" required="true">
        Confirm Password<input type="password" placeholder="confirmpassword" name="confirmpassword" required="true">
        <button type="submit">Verify</button>
    </form>
</body>
</html>