html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
  user-select: none;
}

:root {
  --primarycolor: hsl(179, 93%, 44%);
  --blue: hsl(183, 100%, 35%);
  --lightblue: hsl(183, 49%, 63%);
  --secondarycolor: hsl(217, 10%, 25%);
  --Backgroundcolor: hsl(216, 19%, 16%);
  --white: hsl(0, 0%, 100%);
  --darkishwhite: hsl(0, 0%, 78%);
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;
}

:root {
  --outfit: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var(--lightblue);
  outline: 1px solid slategrey;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightblue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  font-family: var(--outfit);
  background-color: var(--Backgroundcolor);
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 20px;
}

li {
  list-style: none;
}

section, footer {
  width: 100%;
  max-width: 93.75rem;
  min-height: 100vh;
  padding: 1rem 7.5rem;
}

h1,h2,h3,h4{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color:white;
}

p{
  font-family: 'Montserrat';
}

p {
  font-size: rem(17);
  color:var(--darkishwhite);
  margin-bottom: 1rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  display: inline-block;
  color:white;
}
.all-blogs{
  display: flex;
  flex-wrap:wrap;
  background-color: var(--secondarycolor);
}
.card-container {
  width: 100%;
  max-width: 350px;
  margin: 2em auto;
  background-color:var(--Backgroundcolor);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.hero-image-container{
  width:100%;
}
.hero-image{
  width:100%;
  height:250px;
}
.img-div{
  width:100%;
  height:250px;
}
.main-content{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.main-content a{
  color:white!important;
}

.readMore{
  background-color: var(--primarycolor);
  padding: 4px 7px 4px 7px;
  border-radius: 5px;
}

.blog-footer{
  display:flex;
  justify-content: space-between;
}

i{
  font-size:25px;
}

#heart{
  margin-right: 17px;
  color:red;
  cursor: pointer;
}

#like{
  color:var(--primarycolor);
  cursor: pointer;
}

.outer-askSection{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.askSection{
  padding: 20px;
  display: flex;
  background-color:var(--secondarycolor);
  border-radius: 10px;
  margin-bottom: 50px;
}
.ask-des{
  margin-right: 10px;
}
.askbtn{
  display: inline-block;
  background-color:var(--primarycolor);
  padding: 4px 7px 4px 7px;
  border-radius:200px;
  cursor: pointer;
}
.askbtn:hover{
  background-color: var(--lightblue);
}

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--secondarycolor);
}

.category-div{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  padding:30px;
  background-color: var(--secondarycolor);
  justify-content: center;
}

label{
  color:var(--blue);
  margin-right: 40px;
}

.back{
  padding-top:5px;
  padding-left:30px;
  background-color: var(--secondarycolor);
}
.back h2{
  margin-bottom: 0px!important;
}
.choose{
  display:flex;
  justify-content: space-between;
}
#choose1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:0.5;
  cursor:pointer;
}
#choose2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:0.5;
  cursor:pointer;
}
.blue{
  background-color: var(--blue);
}
.black{
  background-color: var(--var-main-darkest);
}
.hide{
  display:none!important;
}
.no_data{
  width:390px;
  height:215px;
  opacity:0.6
}
.no_data_div{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:400px;
  width:100vw;
}

span{
  margin-left: 10px;
  color:white;
}

.fa-solid{
  color:var(--blue);
  cursor:pointer;
}